{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | CGU {% endblock %}

{% block body %}

    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis dolore iusto necessitatibus
            pariatur velit. Ducimus fuga laborum nihil non possimus recusandae repellat saepe sed similique veniam!
            Ipsam modi, ratione!</p>
        <p>Alias aliquid architecto excepturi illo itaque minus porro repudiandae. Accusamus adipisci consequatur
            delectus eligendi enim error harum labore maiores modi pariatur quasi quia ratione rem reprehenderit tenetur
            vero, voluptatem voluptatibus.</p>
        <p>Aliquam amet architecto blanditiis cum cupiditate deleniti dolor dolorum ea earum facilis iste minus natus
            neque nihil nobis numquam odio perferendis, qui rem, repellat reprehenderit repudiandae sint temporibus
            voluptate voluptatum.</p>
        <p>Aliquam aspernatur assumenda aut consectetur culpa cupiditate delectus deserunt dicta enim et eum hic,
            incidunt itaque iure maxime mollitia nobis odit officia praesentium quibusdam reiciendis tempora tenetur
            ullam veniam, voluptatem.</p>
        <p>Animi, eius eligendi est facere fugit incidunt ipsam ipsum iure laudantium modi odit perspiciatis quaerat
            quisquam vel vitae. Ab aspernatur deserunt expedita iste non odio quia quidem unde veritatis voluptatem.</p>
        <p>Deserunt, dolor, sint! Ad culpa debitis delectus dignissimos explicabo facilis fugiat, illo, nisi non placeat
            quaerat rem tempora veniam voluptas voluptatem! Accusantium amet, beatae commodi cumque doloremque doloribus
            modi soluta.</p>
        <p>A aut distinctio inventore magnam minima, numquam officia omnis quidem ratione rem repellat repellendus?
            Alias commodi consequatur facilis libero nesciunt, porro possimus praesentium quibusdam quidem quisquam
            ratione sed sit, totam.</p>
        <p>Alias aut eius fugiat, id minus mollitia numquam odio quidem sapiente unde. Accusamus accusantium ad
            consequuntur culpa dolorem esse ipsum magnam modi optio perferendis porro quidem rerum suscipit tenetur,
            ut.</p>
    </article>

{% endblock %}
