<header>
    <h1>
        <div class="titreLogo">
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('assets/logo.png') }}" alt="Immo Moser | Home">
            </a>
            <a href="{{ path('main_home') }}">Immo Moser</a>
        </div>
    </h1>
    {% include 'bodyStructure/menu/nav.html.twig' %}
</header>