<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('team_list') }}">Notre équipe</a></li>
        <li><a href="{{ path('main_cgu') }}">Cgu</a></li>
        <li><a href="{{ path('logement_add') }}">Publier Annonce</a></li>
    </ul>
</nav>